@import "_utils";


body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    max-width: 760px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    font-size: 0.8em;
    color: #333;
    background-color: #aaa;
    @extend .noselect;
}
img.loading {
    display: block;
    margin: 72px auto;
}
h2 {
    font-size: 1.0em;
    margin: 0;
    padding-left: 12px;
    padding-top: 5px;
}

div.container {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border-radius: 10px;
}

div.content{
    padding: 10px;
}
@mixin red {
  background-color: #E3010F;
  color: white;
}
@mixin black {
  background-color: #000;
  color: #fff;
}
/**************
*  monitors  *
**************/

div.monitor {
    background-color: #ccc;
    border: 2px solid #aaa;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    padding: 0px 0px 12px 0px;
    &.hidden{
      padding: 0px;
      .heading{
        margin-bottom: 0px;
        background-color: #ddd;
        color: #999;
        border-bottom: 0px;
      }
    }
}

div.heading {
    margin-bottom: 10px;
    background-color: #E3010F;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #aaa;
    padding: 3px;
    &.red{
      @include red;
    }
    &.violet{
      background-color: violet;
      color: white;
    }
    &.green{
      background-color: green;
      color: #fff;
    }
    &.orange{
      background-color: orange;
      color: black;
    }
    span.stop-name {
      margin: 5px;
    }
    i.hideme{
      padding: 0.2em 0.2em 0 0;
      float: right;
    }
}

/****************
*  departures  *
****************/
li.departure {
  display: inline;
  border: 2px solid #666;
  border-radius: 4px;
  margin: 6px 5px 10px 5px;
  overflow: hidden;
  padding: 5px 0px 5px 0px;
  span {
    white-space:nowrap;
    padding: 5px;
    &.mh{
      background-color: #fff;
    }
    &.planned{
      @include black;
    }
    &.real{
      @include red;
    }
  }
}

////////////
//  help  //
////////////

.help p{
  padding-left: 4px;
  .rot{
      @include red;
      padding: 1px 2px 1px 2px;
  }
  .schwarz{
      @include black;
      padding: 1px 2px 1px 2px;
  }
}

/////////////////////
//  media queries  //
/////////////////////

@media screen and (min-width: 480px) {
  body {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.2em;
  }
}
