body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 72px;
    -webkit-font-smoothing: antialiased;
    font-size: 1.125em;
    color: #333;
    background-color: #aaa;
    line-height: 1.5em;
}

/**************
*  monitors  *
**************/

div.monitors {
    padding: 10px;
}

div.monitor {
    background-color: #ccc;
    border: 2px solid #aaa;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    padding: 10px 0px 12px 5px;
}
div.heading {
    margin-bottom: 5px;
}

span.stop-name {
    margin: 5px;
}

/****************
*  departures  *
****************/

li.departure {
    display: inline;
    border: 2px solid #666;
    border-radius: 4px;
    margin: 20px 5px 10px 5px;
    overflow: hidden;
    padding: 5px 0px 5px 0px;
}
li.departure span {
    white-space:nowrap;
    padding: 5px;
}
li.departure span.mh {
    background-color: #fff;
}
li.departure span.till {
    background-color: #000;
    color: #fff;
}
